* {
  margin: 0;
}

.header {
  width: 100vw;
  height: 14vh;
  background-color: #2CAFF5;
  display: flex;
  align-items: center;
}

.header > h3 {
  margin-left: 5vw;
}

.background {
  height: 86vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.template-container {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.template-box {
  height: 50vh;
  width: 80vw;
  background-color: white;
}

.space-break {
  margin-top: 3vh;
}

.right-justify {
  text-align: right;
  margin-right: 3vw;
}

.unbolded {
  font-weight: normal
}

.underline {
  text-decoration: underline;
  text-decoration-color: #2CAFF5;
}

.button-sides {
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}

.button-left {
  margin-right: 22vw;
}

.button-right {
  margin-left: 22vw;
}
.center-buttons {
  border-radius: 20px;
  background-color: #2CAFF5;
  border: none;
  color: white;
  font-weight: bold;
  margin: 5px;
}